
<h2>Total members in this nation: <%= @total_residents %></h2>
<% @first_25.each_with_index do |member,index| %>

<section id="member-<%= index %>">
	<h3>Name: <%= member.name %></h3>
	<img src="<%= member.image %>">
	<h4>Allies:</h4>
	<section id="allies">
		<% member.allies.each do |ally| %>
			<p><%= ally %></p>
		<% end %>
	</section>
	<h4>Enemies:</h4>
	<section id="enemies">
		<% member.enemies.each do |enemy| %>
			<p><%= enemy %></p>
		<% end %>
	</section>
	<h4>Affiliations:</h4>
	<section id="affiliation">
		<p><%= member.affiliations %></p>
	</section>
		<br>
</section>
	
<% end %>